.header {
    display: flex;
    justify-content: space-between;
    border : 1px solid grey;
    
}

.logo {
    width: 100px;
}

.nav-items > ul {
    margin: 20px 20px;
    display: flex;

}

.nav-items > ul > li{
    list-style-type: none;
    padding: 0px 10px;
    margin: 10px;
}