.header {
    display: flex;
    justify-content: space-between;
    border : 1px solid grey;
    
}

.logo {
    width: 100px;
}

.nav-items > ul {
    margin: 20px 20px;
    display: flex;
    /* font-size: 25px; */

}

.nav-items > ul > li{
    list-style-type: none;
    padding: 0px 10px;
    margin: 10px;
    font-size: 20px;
}

.restro{
    display: flex;
    flex-wrap: wrap;
}

.resto-card{
    width: 200px;
    /* height: 350px; */
    margin: 10px 10px;
    background-color: #EBE1D1;
    display: flex;
    flex-wrap: wrap;

    

}
.resto-card:hover{
    border: 1px solid black;
    cursor: pointer;
}

.photo{
    width: 90%;
    margin: 0px 10px;
}
.btn{
    margin: 10px;
    padding: 5px;
    cursor: pointer;
}